<carousel xmlns="">
  <slide>
    <img
      src="https://c0.anyrgb.com/images/13/617/elegant-timepiece-wristwatch-watch-texture-time-timepiece-strap-pattern-black-white.jpg"
      style="display: block; width: 110%;height: 850px; ">
    <div class="centered">#DO IT<br>
      #LIVE LIKE LUXURY
    </div>
    <div class="centered2">
      UNIVERSAL WATCH
    </div>
    <button class="btn shopnow font-weight-bold">SHOP NOW</button>
  </slide>
  <slide>
    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg"
         style="display: block; width: 100%;height: 850px">
    <div class="centered">#DO IT<br>
      #LIVE LIKE LUXUARY
    </div>
    <div class="centered2">
      UNIVERSAL WATCH
    </div>
    <button class="btn shopnow font-weight-bold">SHOP NOW</button>
  </slide>
  <slide>
    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
         style="display: block; width: 100%;height: 850px">
    <div class="centered">#DO IT<br>
      #LIVE LIKE LUXUARY
    </div>
    <div class="centered2">
      UNIVERSAL WATCH
    </div>
    <button class="btn shopnow font-weight-bold">SHOP NOW</button>
  </slide>
  <slide>
    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg"
         style="display: block; width: 100%;height: 850px">
    <div class="centered">#DO IT<br>
      #LIVE LIKE LUXUARY
    </div>
    <div class="centered2">
      UNIVERSAL WATCH
    </div>
    <button class="btn shopnow font-weight-bold">SHOP NOW</button>
  </slide>
</carousel>
<div class="row" style="  margin: 0px;">
  <div class="col-6 vv">
    <img class="img"
         src="https://c0.wallpaperflare.com/preview/316/361/238/black-logitech-g-series-gaming-mouse-on-red-surface.jpg"
         alt="">
    <button class="btn shopno font-weight-bold">Mouse</button>
  </div>
  <div class="col-6 vv">
    <img class="img"
         src="https://c0.wallpaperflare.com/preview/316/361/238/black-logitech-g-series-gaming-mouse-on-red-surface.jpg"
         alt="">
    <button class="btn shopno font-weight-bold">Keyboard</button></div>
  <div class="col-6 vv">
    <img class="img"
         src="https://c0.wallpaperflare.com/preview/316/361/238/black-logitech-g-series-gaming-mouse-on-red-surface.jpg"
         alt="">
    <button class="btn shopno font-weight-bold">Sound</button></div>
  <div class="col-6 vv">
    <img class="img"
         src="https://c0.wallpaperflare.com/preview/316/361/238/black-logitech-g-series-gaming-mouse-on-red-surface.jpg"
         alt="">
    <button class="btn shopno font-weight-bold">Gear</button></div>
</div>
