<section class="text-center" style="margin-top: 120px;">
  <div class="container divided">
    <span class="divider"></span>
    <h1 style="font-size: 40px;">WISHLIST</h1>
    <span class="divider"></span>
  </div>
</section>
<br><br><br><br>
<div class="row" style=" width:auto; height: auto;margin-left: 150px;">
  <div class="col-12">
    <div class="table">
      <table class="table" style="font-size: 20px;">
        <thead>
        <tr>
          <th *ngFor="let head of head" scope="col">{{head}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <tr *ngFor="let body of body">
          <th scope="row">{{body.image}}</th>
          <td>{{body.name}}</td>
          <td>{{body.product_code}}</td>
          <td>{{body.stock}}</td>
          <td>{{body.unit_price}}</td>
          <td>
            <button class="btn btn-sm btn-danger" style="font-size: 30px;margin: 25px"><i class="fa fa-trash"></i>
            </button>
            <button class="btn btn-sm btn-danger" style="font-size: 30px;"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


