<p>login works!</p>
<div class="container">
  <div class="row tt-services-listing"><div class="col-xs-12 col-md-6 col-lg-4">
    <a href="" class="tt-services-block" data-hovercolors=""><div class="tt-col-icon"><i class="icon-f-48" style="color: #2879fe"></i></div><div class="tt-col-description">
      <h4 class="tt-title" style="color:#191919;" data-c="#191919" data-ac="#2879fe">FREE SHIPPING</h4>
      <p style="color: #777777">Free shipping on all US order or order above $99</p>
    </div>
    </a>
  </div><div class="col-xs-12 col-md-6 col-lg-4">
    <a href="" class="tt-services-block" data-hovercolors=""><div class="tt-col-icon"><i class="icon-f-35" style="color: #2879fe"></i></div><div class="tt-col-description">
      <h4 class="tt-title" style="color:#191919;" data-c="#191919" data-ac="#2879fe">SUPPORT 24/7</h4>
      <p style="color: #777777">Contact us 24 hours a day, 7 days a week</p>
    </div>
    </a>
  </div><div class="col-xs-12 col-md-6 col-lg-4">
    <a href="" class="tt-services-block" data-hovercolors=""><div class="tt-col-icon"><i class="icon-e-09" style="color: #2879fe"></i></div><div class="tt-col-description">
      <h4 class="tt-title" style="color:#191919;" data-c="#191919" data-ac="#2879fe">30 DAYS RETURN</h4>
      <p style="color: #777777">Simply return it within 24 days for an exchange.</p>
    </div>
    </a>
  </div></div>
</div>
