<label style="position:absolute;top: 140px;font-size: 22px;">Lorem
  ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolor dolores doloribus,
 </label>
<section class="s1"  >
  <form [formGroup]="userForm" >
    <div class="form-group">
      <div class="form-group form-check" >
        <label>
          <input type="checkbox" class="form-check-input" style="height: 25px;width: 25px">
          <label class="form-check-label" style="padding-left: 35px;font-size: 20px">Check me out</label></label>
      </div>
      <br>
      <div class="row" >
        <div class="col">
          <label class="ll"> First Name</label>
          <input type="text" class="form-control">
        </div>
        <div class="col">
          <label class="ll"> Last Name</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="ll"> Address</label>
          <input type="text" class="form-control">
        </div></div>
      <div class="row">
        <div class="col">
          <label class="ll"> State</label>
      <select class="custom-select">
        <option selected>Custom Select Menu</option>
        <option value="volvo">Volvo</option>
        <option value="fiat">Fiat</option>
        <option value="audi">Audi</option>
      </select>
      </div>
        <div class="col">
          <label class="ll"> City</label>
          <select class="custom-select">
            <option selected>Custom Select Menu</option>
            <option value="volvo">Volvo</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
          </select>
        </div></div>
      <div class="row">
        <div class="col">
        </div>
        <div class="col">
          <label class="ll">Mobile</label>
          <input type="text" class="form-control" >
        </div></div>
    </div>
  </form>
  <br><br><br><br>

</section>
<label style="position:absolute;top: 600px;font-size: 22px;">Lorem
  ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolor dolores doloribus,
</label>
<section class="s2"  >
<form>
  <div class="form-group">
    <div class="form-group form-check" >
      <label>
        <input type="checkbox" class="form-check-input" style="height: 25px;width: 25px">
        <label class="form-check-label" style="padding-left: 35px;font-size: 20px">Check me out</label></label>
    </div>
    <br>
    <div class="row" >
      <div class="col">
        <label class="ll"> First Name</label>
        <input type="text" class="form-control">
      </div>
      <div class="col">
        <label class="ll"> Last Name</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label class="ll"> Address</label>
        <input type="text" class="form-control">
      </div></div>
    <div class="row">
      <div class="col">
        <label class="ll"> State</label>
        <select class="custom-select">
          <option selected>Custom Select Menu</option>
          <option value="volvo">Volvo</option>
          <option value="fiat">Fiat</option>
          <option value="audi">Audi</option>
        </select>
      </div>
      <div class="col">
        <label class="ll"> City</label>
        <select class="custom-select">
          <option selected>Custom Select Menu</option>
          <option value="volvo">Volvo</option>
          <option value="fiat">Fiat</option>
          <option value="audi">Audi</option>
        </select>
      </div></div>
    <div class="row">
      <div class="col">
        <label class="ll"> Postal Code</label>
        <input type="text" class="form-control">
      </div>
      <div class="col">
        <label class="ll">Mobile</label>
        <input type="text" class="form-control" >
      </div></div>
    <div class="row">
      <div class="col">
        <label class="ll"> City</label>
        <select class="custom-select">
          <option selected>Custom Select Menu</option>
          <option value="volvo">Volvo</option>
          <option value="fiat">Fiat</option>
          <option value="audi">Audi</option>
        </select>
    </div>
  </div>
  </div>
</form>
</section>
<label style="position:absolute;top: 1130px;font-size: 22px;">Lorem
  ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolor dolores doloribus,
</label>
<section class="s3"  >
  <form>
    <div class="form-group">
      <div class="form-group form-check" >
        <label>
          <input type="checkbox" class="form-check-input" style="height: 25px;width: 25px">
          <label class="form-check-label" style="padding-left: 35px;font-size: 20px">Check me out</label></label>
      </div>
      <br>
      <div class="row" >
        <div class="col">
          <label class="ll"> First Name</label>
          <input type="text" class="form-control">
        </div>
        <div class="col">
          <label class="ll"> Last Name</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="ll"> Address</label>
          <input type="text" class="form-control">
        </div></div>
      <div class="row">
        <div class="col">
          <label class="ll"> State</label>
          <select class="custom-select">
            <option selected>Custom Select Menu</option>
            <option value="volvo">Volvo</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
          </select>
        </div>
        <div class="col">
          <label class="ll"> City</label>
          <select class="custom-select">
            <option selected>Custom Select Menu</option>
            <option value="volvo">Volvo</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
          </select>
        </div></div>
      <div class="row">
        <div class="col">
        </div>
        <div class="col">
          <label class="ll">Mobile</label>
          <input type="text" class="form-control" >
        </div></div>
    </div>
  </form>
</section>
<section class="s4"></section>
<!---->
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <form [formGroup]="userForm" (submit)="saveUser()">-->
<!--      <div class="row">-->
<!--        <label >username-->
<!--          <input type="text" class="form-control" formControlName="username" name="username">-->
<!--        </label>-->
<!--        <label >Name-->
<!--          <input type="text" class="form-control" formControlName="name" name="name">-->
<!--        </label>-->
<!--      </div>-->
<!--        <button class="btn btn-primary" type="submit">Save</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
