<section class="s1"  >
  <form>
    <div class="form-group">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" >
        <label class="form-check-label" >             Check me out</label>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name">
        </div></div>
      <div class="row">
        <div class="col">
      <select name="cars" class="custom-select">
        <option selected>Custom Select Menu</option>
        <option value="volvo">Volvo</option>
        <option value="fiat">Fiat</option>
        <option value="audi">Audi</option>
      </select>
      </div>
        <div class="col">
          <select name="cars" class="custom-select">
            <option selected>Custom Select Menu</option>
            <option value="volvo">Volvo</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
          </select>
        </div></div>
      <div class="row">
        <div class="col">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="First name">
        </div></div>
    </div>
  </form>
</section>
<section class="s2"  >
  <form>
    <div class="form-group">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" >
        <label class="form-check-label" >             Check me out</label>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name">
        </div></div>
      <div class="row">
        <div class="col">
          <select name="cars" class="custom-select">
            <option selected>Custom Select Menu</option>
            <option value="volvo">Volvo</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
          </select>
        </div>
        <div class="col">
          <select name="cars" class="custom-select">
            <option selected>Custom Select Menu</option>
            <option value="volvo">Volvo</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
          </select>
        </div></div>
      <div class="row">
        <div class="col">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="First name">
        </div></div>
    </div>
  </form>
</section>
<section class="s3"  >
  <form>
    <div class="form-group">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" >
        <label class="form-check-label" >             Check me out</label>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name">
        </div></div>
      <div class="row">
        <div class="col">
          <select name="cars" class="custom-select">
            <option selected>Custom Select Menu</option>
            <option value="volvo">Volvo</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
          </select>
        </div>
        <div class="col">
          <select name="cars" class="custom-select">
            <option selected>Custom Select Menu</option>
            <option value="volvo">Volvo</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
          </select>
        </div></div>
      <div class="row">
        <div class="col">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="First name">
        </div></div>
    </div>
  </form>
</section>
<section class="s4"></section>
