<!--<div class="container" style="padding: 0">-->
<div class="row" style="position: absolute; top: 150px; margin: 20px">
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, animi architecto blanditiis explicabo fugiat
    iste laboriosam laborum laudantium recusandae sunt temporibus unde voluptates. Ab asperiores, fuga hic illum ipsam
    obcaecati?</h1>
</div>
<div class="row" style="margin:40px; position: absolute;top: 200px ">
<!--  <form role="form" >-->
<!--    <div class="tab-content">-->
      <div class="row">
        <div class="col">
          <label for="exampleInputEmail1">First Name</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="First Name">
        </div>
        <div class="col">
          <label for="exampleInputEmail1">Last Name</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Last Name">
        </div>
      </div>
<!--      <div class="row">-->
<!--        <div class="col-md-6">-->
<!--          <label for="exampleInputEmail1">Email address</label>-->
<!--          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--          <label for="exampleInputEmail1">Confirm Email address</label>-->
<!--          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col-md-6">-->
<!--          <label for="exampleInputEmail1">Mobile Number</label>-->
<!--          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--          <label for="exampleInputEmail1">Email address</label>-->
<!--          <div class="row">-->
<!--            <div class="col-md-3 col-xs-3">-->
<!--              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">-->
<!--            </div>-->
<!--            <div class="col-md-9 col-xs-9">-->
<!--              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
</div>

