<section class="text-center" style="margin-top: 120px;">
  <div class="container">
    <h1 class="jumbotron-heading">CART</h1>
  </div>
</section>
<br>
<div class="row" style="margin: 0px; height: auto">
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class="table text-center" style="font-size: 20px;">
        <thead>
        <tr>
          <th class="text-center" *ngFor="let head of head" scope="col" style="width: auto;">{{head}} </th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" *ngFor="let body of body">
          <td style="width: 200px;">{{body.image}}</td>
          <td class="text-left">{{body.name}}
            <br>
            <span><span style="font-weight: bold">Code:</span>{{body.product_code}}</span><br>
            <span><span style="font-weight: bold">Color:</span>{{body.color}}</span></td>
          <td class="text-left" style="width: 200px;">
            <div class="qty "><span class="minus bg-dark">-</span>
              <input type="number" class="count" name="qty" value="{{body.qty}}">
              <span class="plus bg-dark">+</span></div>
          </td>
          <td>{{body.unit_price}}</td>
          <td>{{body.qty_price}}</td>
          <td class="text-center p-lg-11">
<!--            <button type="button" class="btn btn-success" (click)="getNavigation('view', product.p_id)">View</button>-->
<!--            <button type="button" class="btn btn-warning" (click)="getNavigation('update', product.p_id)">Edit</button>-->
<!--            <button type="button" class="btn btn-danger">Delete</button></td>-->
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Sub-Total</td>
          <td class="text-center"></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Shipping</td>
          <td class="text-center"></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-center"></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>Total</strong></td>
          <td class="text-center"><strong></strong></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="  col-4"></div>
      <div class="  col-4">
        <button class="btn btn-block btn-light" style="font-size: 25px;background-color: black;color: white">Continue
          Shopping
        </button>
      </div>
      <div class="col-4 ">
        <button class="btn btn-lg btn-block text-uppercase"
                style="font-size: 25px; background-color: black;color: white">Buy Now
        </button>
      </div>
    </div>
  </div>
</div>

