<section class="text-center" style="margin-top: 120px;">
  <div class="container">
    <h1 class="jumbotron-heading">CART</h1>
  </div>
</section>
<br>
<div class="row" style="margin: 0px; height: auto">
  <div class="col-sm-12" *ngFor="let cart of carts">
    <div class="table-responsive">
      <table class="table text-center" style="font-size: 20px;">
        <thead>
        <tr>
          <th class="text-center" *ngFor="let head of head" scope="col" style="width: auto;">{{head}}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" *ngFor="let product_list of cart.product_list">
          <td style="width: 200px;">{{product_list.name}}</td>
          <td class="text-left">{{product_list.product_id}}
            <br>
            <span><span style="font-weight: bold">Code:</span>{{product_list.product_code}}</span><br>
            <span><span style="font-weight: bold">Color:</span>{{product_list.color}}</span></td>
          <td class="text-left" style="width: 200px;">
            <div class="qty "><span class="minus bg-dark">-</span>
              <input *ngModel="product_list.qty" type="text" class="count" name="qty" value="">
              <span class="plus bg-dark">+</span></div>
          </td>
          <td [(ngModel)]="product_list.sale_price"></td>
          <td [(ngModel)]="product_list.qtyPrice"></td>
          <td class="text-center p-11" style="padding: 10px" *ngIf="Show">
            <button type="button" class="btn btn-warning" style="margin-right: 10px;font-size: 20px ">Edit</button>
            <button type="button" class="btn btn-danger" style="margin-right: 10px;font-size: 20px">Delete</button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Sub-Total</td>
          <td class="text-center">{{pro}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Shipping</td>
          <td class="text-center">cdcedcedc</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-center">vfevfvfvfw</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>Total</strong></td>
          <td class="text-center"><strong>frvfvfffvrv</strong></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row"></div>
    <div class="row">
      <div class="  col-2">
        <button class="btn btn-block btn-light" (click)="onClick()"
                style="font-size: 25px;background-color: black;color: white">Edit & Save
        </button>
      </div>
      <div class="  col-4"></div>
      <div class="  col-3">
        <button class="btn btn-block btn-light" style="font-size: 25px;background-color: black;color: white"  [routerLink]="['/home']">Continue
          Shopping
        </button>
      </div>
      <div class="col-3">
        <button class="btn btn-lg btn-block text-uppercase"
                style="font-size: 25px; background-color: black;color: white" [routerLink]="['/payment']">Buy Now
        </button>
      </div>
    </div>
  </div>
</div>

