<section class="text-center" style="margin-top: 120px;">
  <div class="container divided">
    <span class="divider"></span>
    <h1 style="font-size: 40px;">WISHLIST</h1>
    <span class="divider"></span>
  </div>
</section>
<br>
<div class="row" style="margin: 0px; height: auto">
  <div class="col-12">
    <div class="table">
      <table class="table" style="font-size: 20px;">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Product</th>
          <th scope="col" width="15%">Quantity</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Order Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><img src="https://dummyimage.com/200x200/55595c/fff"/></td>
          <td>Product Name Dada
            <br>
            <span>Product</span><br>
            <span>Product</span></td>
          <td>
            <div class="qty text-left">
            <span class="minus bg-dark">-</span>
            <input type="number" class="count" name="qty" value="1">
            <span class="plus bg-dark">+</span>
          </div>
          </td>
          <td>124,90 €</td>
          <td>124,90 €</td>
          <td class="text-center ">
            <button class="btn btn-sm btn-danger" style="font-size: 30px;"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        <tr>
          <td><img src="https://dummyimage.com/200x200//55595c/fff"/></td>
          <td>Product Name Toto<br>
            <span>Product</span><br>
            <span>Product</span></td>
          <td><div class="qty text-left">
            <span class="minus bg-dark">-</span>
            <input type="number" class="count" name="qty" value="1">
            <span class="plus bg-dark">+</span>
          </div></td>            <td>33,90 €</td>
          <td>33,90 €</td>
          <td class="text-center">
            <button class="btn btn-sm btn-danger"style="font-size: 30px;"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        <tr>
          <td><img src="https://dummyimage.com/200x200//55595c/fff"/></td>
          <td>Product Name Titi<br>
            <span>Product</span><br>
            <span>Product</span></td>
          <td><div class="qty mt-5 text-left">
            <span class="minus bg-dark">-</span>
            <input type="number" class="count" name="qty" value="1">
            <span class="plus bg-dark">+</span>
          </div></td>            <td >70,00 €</td>
          <td >70,00 €</td>
          <td class="text-center">
            <button class="btn btn-sm btn-danger"style="font-size: 30px;"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Sub-Total</td>
          <td class="text-center">255,90 €</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Shipping</td>
          <td class="text-center">6,90 €</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-center"></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><strong>Total</strong></td>
          <td class="text-center"><strong>346,90 €</strong></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <div class="  col-4"></div>
      <div class="  col-4">
        <button class="btn btn-block btn-light" style="font-size: 25px;background-color: black;color: white">Continue Shopping</button>
      </div>
      <div class="col-4 ">
        <button class="btn btn-lg btn-block text-uppercase"style="font-size: 25px; background-color: black;color: white">Buy Now</button>
      </div>
    </div>
  </div>
</div>
